body {
  font-family: 'Questrial', sans-serif;
  background-color: #d4e6be;
} 

input {
  color: #544361;
  background-color: #f7ffed;
  border-radius: 5px 5px 5px 5px;
}

input:focus {
  border: solid 2px #cdbdd9;
  outline: none;
}

::placeholder {
  color: #cdbdd9;
}

button:focus {
  cursor: pointer;
  outline: none;
}

.center-center {
  align-self: center;
  justify-self: center;
}

.center-left {
  align-self: center;
}

.profile-link {
  color: #544361;
  text-shadow: 1px 1px 1px #9882a8;
  text-decoration: none;
  cursor: pointer;
}

.profile-link:hover {
  text-shadow: 1px 1px 1px #d8adff;
}

.btn {
  font-size: 15px;
  color: #f7ffed;
  background-color: #544361;
  border: solid 1px #9882a8;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
}

.btn:hover {
  text-shadow: 1px 1px 1px #9882a8;
}

.no-items {
  margin-left: 325px;
  font-family: 'Monoton', cursive;
  font-size: 80px;
  color: #544361;
  text-shadow: 3px 3px 3px #9882a8;
}


/* <Header/> */

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 7px; 
  height: 50px;
  width: 99%;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  color: #544361;
  background-image: linear-gradient(to right, #544361, #d4e6be);
  z-index: 1;
}    

#site-title {
  font-family: 'Monoton', cursive;
  font-size: 60px;
  color: #d4e6be;
  text-shadow: 3px 3px 3px #544361;
}

#home-icon {
  font-size: 20px;
}


/* <NavBar/> */

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  top: 64px;
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
  align-items: center;
  font-family: 'Monoton', cursive;
  font-size: 20px;
  background-color: #544361;
  z-index: 1;
}

.nav-link {
  color: #d4e6be;
  text-decoration: none;
}

/* <DashboardNavBar/> */

#dash-nav-bar {
  position: fixed;
  top: 95px;
  left: 0;
  right: 0;
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly; 
  align-items: center;
  font-family: 'Monoton', cursive;
  font-size: 20px;
  background-color: #9882a8;
  z-index: 1;
}

.dash-nav-link {
  color: #544361;
  text-decoration: none;
}


/* <Welcome/> */

#welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  color: #544361;
}


/* <About/> */

#about {
  padding-top: 50px;
  padding-left: 100px;
}

#welcome-title {
  font-family: 'Monoton', cursive;
  font-size: 100px;
  color: #544361;
  text-shadow: 3px 3px 3px #9882a8;
}

#beta-tag {
  font-size: 25px;
  color: #d4e6be;
  text-shadow: 1px 1px 1px #544361;
}


/* <Login/> */

#login {
  grid-column: 2/2;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

#login-errors {
  font-family: monospace;
  font-size: 20px;
  align-self: center;
  color: red;
  list-style-type: none;
}

#login-form {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-self: center;
  padding-top: 35px;
  font-size: 30px;
}

.login-input {
  margin: 2.5px;
  font-size: 30px;
}

#login-submit {
  align-self: center;
  width: 300px;
  font-size: 30px;
  color: #f7ffed;
  background-color: #544361;
  text-shadow: 2px 2px 2px #9882a8;
  border: solid 2px #9882a8;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
}

#login-submit:hover {
  text-shadow: 2px 2px 2px #bfa5d6;
  border: solid 2px #bfa5d6;
}

#login-toggle {
  align-self: center;
}

#login-toggle-btn {
  align-self: center;
  width: 150px;
  font-size: 15px;
  color: #f7ffed;
  background-color: #544361;
  text-shadow: 1px 1px 1px #9882a8;
  border: solid 1px #9882a8;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
}

#login-toggle-btn:hover {
  text-shadow: 2px 2px 2px #bfa5d6;
  border: solid 2px #bfa5d6;
}


/* <Listings/> */

#listings {
  margin-top: 155px;
}

/* <Listing/> */

.listing {
  display: grid;
  grid-template-columns: 1fr 0.5fr 8fr 2fr 2fr;
  align-content: center;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;  
  color: #544361;
  border-top: solid 1px #9882a8;
  cursor: pointer;
}


/* <ListingShow/> */

.listing-show {
  margin-top: 150px;
  padding-left: 50px;
  color: #544361;
}


/* <ListingFilterSearchBar/> & <ProfileFilterSearchBar/> */

.filter-search {
  position: fixed;
  top: 95px;
  left: 0;
  right: 0;
  height: 30px;
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly; 
  align-items: center;
  font-size: 16px;
  color: #544361;
  background-color: #9882a8;
  text-shadow: 1px 1px 5px #d4e6be;
  z-index: 1;
}


/* <Profiles/> */

#profiles {
  margin-top: 155px;
}


/* <Profile/> */

#profile {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  align-content: center;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;  
  color: #544361;
  border-top: solid 1px #9882a8;
  cursor: pointer;
}


/* <ProfileShow/> */

.profile-show {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  margin-top: 110px;
  padding-top: 50px;
  color: #544361;
}

#profile-info {
  padding: 10px;
  border: solid 2px #9882a8;
}


/* <MyListings/> */

#my-listings {
  margin-top: 100px;
  color: #544361;
}

.listing-heading {
  text-shadow: 2px 2px 5px #9882a8;
}


/* <DeleteListing/> & <DeleteAccount/> */

.delete-set {
  display: flex; 
  flex-direction: column; 
  margin-top: 110px;
  color: #544361;
}

.delete {
  align-self: center;
  font-size: 20px;
}

.delete-heading {
  font-size: 80px;
  text-shadow: 3px 3px 3px #9882a8;
}

.delete-account-heading {
  font-family: 'Monoton', cursive;
  font-size: 80px;
  text-shadow: 3px 3px 3px #9882a8;
}


/* <NewListingForm/> & <EditListing/> & <EditProfile/> */

#profile-form {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-self: center;
  margin-left: 20px;
  color: #544361;
}

#listing-form {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-self: center;
  margin-top: 80px;
  color: #544361;
}

.form-input {
  width: 600px;
  margin: 2.5px;
  font-size: 20px;
}

.form-text-area {
  height: 100px;
  width: 600px;
  font-size: 20px;
  color: #544361;
  background-color: #f7ffed;
  border-radius: 5px 5px 5px 5px;
}

.form-submit {
  text-shadow: 2px 2px 2px #9882a8;
  border: solid 2px #9882a8;
}

.form-submit:hover {
  text-shadow: 2px 2px 2px #bfa5d6;
  border: solid 2px #bfa5d6;
}