body {
  font-family: 'Questrial', sans-serif;
  background-color: #d4e6be;
} 

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 7px; 
  height: 50px;
  width: 99%;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  /* font-style: italic; */
  color: #544361;
  
  /* background-size: cover; 
  background-attachment: fixed; */
  background-image: linear-gradient(to right, #544361, #d4e6be);
  z-index: 1;
  /* background-color: #544361; */
}    

#site-title {
  font-size: 60px;
  font-family: 'Monoton', cursive;
  color: #d4e6be;
  text-shadow: 3px 3px 3px #544361;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  top: 64px;
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
  align-items: center;
  font-family: 'Monoton', cursive;
  font-size: 20px;
  /* color: #d4e6be; */
  background-color: #544361;
  /* border-bottom: solid 1px #d4e6be; */
  z-index: 1;
}

#dash-nav-bar {
  position: fixed;
  top: 95px;
  left: 0;
  right: 0;
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly; 
  align-items: center;
  font-family: 'Monoton', cursive;
  font-size: 20px;
  /* color: #544361; */
  background-color: #9882a8;
  
  border-bottom: solid 1px #544361; 
  z-index: 1;
}

.nav-link {
  color: #d4e6be;
  text-decoration: none;
}

.dash-nav-link {
  color: #544361;
  text-decoration: none;
}

#log-out-btn {
  font-size: 15px;
  border-radius: 25px 25px 25px 25px;
  color: #d4e6be;
  background-color: #544361;
}